/* Overall Container */
.room__members__page__container {
    padding: 20px;
    background-color: #fff;
    margin: 0 auto;
    max-width: 1000px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Tabs for Navigation */
.room__members__page__tabs {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid #f0f0f0;
    overflow-x: auto;
    white-space: nowrap;
    justify-content: center;
}

/* Tab Button Styling */
.room__members__page__tabs button {
    padding: 8px 14px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: #e6f7ff;
    border-radius: 20px;
    color: #007bff;
    font-weight: 400;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

.room__members__page__tabs button:hover {
    background-color: #007bff;
    color: white;
}

/* Members Section */
.room__members__page__members {
    margin-top: 20px;
}

/* Actions - Invite & Leave Buttons */
.room__members__page__actions {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

.room__members__page__action__btn {
    padding: 6px 10px;
    font-size: 12px;
    cursor: pointer;
    background-color: #79ddff;
    color: white;
    border: none;
    border-radius: 30px;
    transition: background-color 0.3s;
}

.room__members__page__action__btn:hover {
    background-color: #4db8ff;
}

.leave-btn {
    background-color: #ff4d4d;
}

.leave-btn:hover {
    background-color: #e60000;
}

/* Members List */
.room__members__page__cards-container {
    max-height: 250px; /* Set max height */
    overflow-y: auto; /* Enable scrolling */
    margin-bottom: 40px; /* Leave 40px margin bottom */
}

.room__members__page__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

/* Member Card Styling */
.room__members__page__member__card {
    background-color: #ffffff;
    padding: 10px 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 260px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin-bottom: 12px; /* Adds space below each card */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Member Avatar Styling */
.room__members__page__member__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

/* Member Name Styling */
.room__members__page__member__name {
    font-size: 14px;
    color: #333;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    flex-grow: 1;
    display: block;
}
