.feedback-container__feedback__main__edusify {
  background-color: #1D1A23; /* Gradient background */
  border-radius: 12px; /* Rounded corners */
  padding: 20px;
  max-width: 400px;
  margin: auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Lighter shadow for depth */
  color: white;
  margin-top: 30px;
}

.feedback-title__feedback__main__edusify {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
}

.feedback-form__feedback__main__edusify {
  display: flex;
  flex-direction: column;
}

.feedback-textarea__feedback__main__edusify {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  height: 140px;
  border: none;
  border-radius: 8px;
  padding: 15px;
  resize: none;
  margin-bottom: 15px;
  transition: 0.3s;
}

.feedback-textarea__feedback__main__edusify::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.feedback-textarea__feedback__main__edusify:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
}

.submit-button__feedback__main__edusify {
  background-color: #f0f0f0;
  color: black;
  border: none;
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
}

.submit-button__feedback__main__edusify:hover {
  background-color: #357ab8;
}
