.success-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
}

.success-content {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px;
}

.success-icon {
  margin-bottom: 20px;
}

.checkmark-svg {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.checkmark-svg.show {
  opacity: 1;
}

.speedometer-circle {
  stroke-dasharray: 62.8; /* 2 * PI * r (where r=10) */
  stroke-dashoffset: 62.8;
  transition: stroke-dashoffset 1s ease-in-out;
}

.show .speedometer-circle {
  stroke-dashoffset: 0;
}

.animate-checkmark {
  stroke-dasharray: 15;
  stroke-dashoffset: 15;
  animation: dash 0.5s ease-in-out forwards;
  animation-delay: 0.5s;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.success-headline {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.success-message {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.success-button {
  background-color: #38ef7d;
  background-image: linear-gradient(to right, #38ef7d, #11998e);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease-in-out;
}

.success-button:hover {
  background-color: #34c16e;
}