.loader-text__loader__exam__mode {
    text-align: center;
    margin-top: 430px;
    font-size: 1rem;
    color: #5a5a5a;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
  }
  