/* Main container */
.today-progress-dashboard__container {
    padding: 20px;
    background-color: #ffffff; /* Soft off-white background */
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Slightly darker shadow */
    max-width: 600px;
    margin: 10px auto;
    width: 90%;
}

.inline__today-progress-dashboard__container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensure items are spaced out */
}

/* Left side - Study Time Text */
.study-time__today-progress-dashboard--left {
    flex: 2; /* Increase flex to take more space */
    text-align: left;
    margin-left: 0; /* Ensure it stays aligned to the left */
}

/* Time Text Styling */
.study-time-left__today-progress-dashboard--text {
    font-size: 26px;
    font-weight: 600;
    color: #333333; /* Dark gray for readability */
    margin-bottom: 0px; /* Add space between the study time text and label */
}

.study-time-left-label__today-progress-dashboard--text {
    font-size: 12px;
    color: #888888; /* Light gray for the label */
}

/* Pomodoro progress circle container */
.pomodoro-progress-circle__today-progress-dashboard--container {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for the progress circle text */
.react-circular-progressbar-text {
    font-size: 14px;
    font-weight: bold;
    color: #ff0000; /* Darker shade for text in the circle */
}

/* Error and loading states */
.loading__today-progress-dashboard--container,
.error__today-progress-dashboard--container,
.no-study-plan__today-progress-dashboard--container {
    text-align: center;
    padding: 20px;
    color: #555555; /* Softer gray */
}

/* Responsive Design */
@media (max-width: 768px) {
    .today-progress-dashboard__container {
        padding: 15px;
    }

    .study-time__today-progress-dashboard--left {
        text-align: center;
        margin-bottom: 15px;
        flex: 1; /* Make the left section smaller on smaller screens */
    }

    .study-time-left__today-progress-dashboard--text {
        font-size: 20px; /* Smaller text size on mobile */
    }

    .study-time-left-label__today-progress-dashboard--text {
        font-size: 10px; /* Smaller label text */
    }

    .pomodoro-progress-circle__today-progress-dashboard--container {
        width: 90px;
        height: 90px;
    }

    .react-circular-progressbar-text {
        font-size: 12px; /* Adjust font size for mobile */
    }
}

/* View Today's Plan Button */
.view-plan-btn__today-progress-dashboard--container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.view-plan-btn__today-progress-dashboard {
    padding: 9px 20px;
    background-color: #1D1A23;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

