.discussion-group-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f4f4f9;
    color: #333;
}

.discussion-header {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
}

.back-button {
    background: none;
    border: none;
    color: #007bff;
    font-size: 24px;
    cursor: pointer;
}

.group-info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.group-name {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.member-count {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}

.messages-container {
    flex: 1;
    overflow-y: auto;
    padding: 15px;
    background-color: #ffffff;
    padding-bottom: 70px;
}

.message {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f1f1f1;
}

.message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message-sender {
    font-weight: bold;
    color: #007bff;
}

.message-timestamp {
    font-size: 12px;
    color: #999;
}

.flashcard-message-card {
    border: 1px solid #f1f1f1;
    border-radius: 8px;
    padding: 10px;
    width: 60%;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: flex-start;
}

.flashcard-header h3 {
    margin: 0;
    font-size: 14px;
    color: #000000;
    font-weight: 600;
    margin-bottom: 8px;
}

.open-flashcard-button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    align-self: flex-end;
}

.open-flashcard-button:hover {
    background-color: #0056b3;
}

.message-input-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 95%;
    display: flex;
    padding: 10px;
    border-radius: 25px;
}

.message-input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    color: #333;
}

.send-button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
}

.send-button:hover {
    background-color: #0056b3;
}
