.invitation-modal-inv-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: auto;
}

.modal-content-inv-modal {
    background: #fff;
    padding: 20px;
    border-radius: 25px;
    width: 90%;
    max-width: 600px;
    max-height: 80vh;
    overflow-y: auto;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    position: relative;
    animation: fadeIn 0.3s ease-out;
}

.invitation-header-inv-modal {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.close-button-inv-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #333;
    transition: transform 0.2s;
}

.close-button-inv-modal:hover {
    transform: scale(1.1);
}

.invitation-list-inv-modal {
    list-style: none;
    padding: 0;
    margin: 0;
}

.invitation-item-inv-modal {
    margin: 10px 0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    background: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
}

.invitation-item-inv-modal:hover {
    background-color: #f0f0f0;
    transform: translateY(-2px);
}

.group-name-inv-modal {
    font-size: 1.2em;
    color: #555;
    flex: 1;
}

.button-group-inv-modal {
    display: flex;
    gap: 10px;
}

.accept-button-inv-modal, .ignore-button-inv-modal {
    display: flex;
    align-items: center;
    padding: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: #000000;
    color: white;
    transition: background-color 0.3s, transform 0.2s;
}

.accept-button-inv-modal:hover, .ignore-button-inv-modal:hover {
    background-color: #000;
    transform: scale(1.1);
}

.icon-inv-modal {
    font-size: 1.2em;
}
