.footer-nav {
    position: fixed;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 40px);
    background: rgba(18, 18, 18, 0.9);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    border-radius: 20px;
    z-index: 1000;
    transition: background 0.3s ease, bottom 0.4s ease;
    opacity: 0;
    animation: slideUp 0.6s ease forwards;
}

@keyframes slideUp {
    to {
        bottom: 10px;
        opacity: 1;
    }
}

.nav-btn-footer-nav {
    background: none;
    border: none;
    color: #f0f0f0;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-decoration: none;
    transition: color 0.3s ease, background 0.3s ease;
}

.nav-btn-footer-nav.active {
    color: #a38dff;
}

.nav-btn-footer-nav .icon-footer-nav {
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}

.nav-btn-footer-nav:hover .icon-footer-nav {
    transform: scale(1.15);
}

.nav-btn-footer-nav .btn-label {
    font-size: 0.7rem;
}

.issue-icon {
    color: red;
    font-size: 0.6rem;
    margin-left: 4px;
    animation: blink 1.5s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.popup-menu-footer-nav {
    display: none;
    position: absolute;
    bottom: -100px;
    width: calc(100% - 40px);
    background-color: rgba(18, 18, 18, 0.95);
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    flex-direction: column;
    align-items: center;
    transition: opacity 0.4s ease, transform 0.4s ease;
    opacity: 0;
}

.popup-menu-footer-nav.show-footer-nav {
    display: flex;
    opacity: 1;
    transform: translateY(-10px);
}

.popup-menu-footer-nav.show-footer-nav .nav-btn-footer-nav {
    animation: fadeIn 0.6s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.close-btn-footer-nav {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
}
