.features-overview {
  padding: 80px 20px;
  text-align: center;
  margin: 50px 0;
  border-radius: 20px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  background-color: #121212; /* Dark background */
}

.features-overview h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #ffffff; /* White text for contrast */
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  justify-items: center; /* Center cards horizontally */
}

.feature-card {
  background: #1e1e1e; /* Darker gray background for cards */
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slightly darker shadow */
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.feature-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Darker shadow on hover */
  transform: translateY(-5px);
}

.feature-icon {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ffffff; /* Blue accent color */
}

.feature-card h3 {
  font-size: 1.6rem;
  color: #ffffff; /* White text for headings for better readability */
  margin-bottom: 12px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}

.feature-card p {
  font-size: 1rem;
  color: #b3b3b3; /* Light gray color for text */
}

.cta-btn-features-section {
  display: inline-block;
  margin-top: 30px;
  padding: 12px 30px;
  color: #ffffff; /* White text */
  background-color: #007aff; /* Blue background for call-to-action button */
  border-radius: 50px;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  transition: background-color 0.4s ease, transform 0.4s ease;
}

.cta-btn-features-section:hover {
  background-color: #0051a8; /* Darker blue for hover effect */
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .features-overview {
    padding: 60px 10px;
  }

  .features-grid {
    grid-template-columns: 1fr;
  }

  .feature-card {
    padding: 15px;
    max-width: 90%; /* Limit the width of cards on smaller screens */
  }

  .cta-btn-features-section {
    font-size: 1rem;
    padding: 10px 25px;
  }
}