/* General Styles */
.calendar-page {
    padding: 10px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    align-items: center;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden; /* Prevent horizontal overflow */
}

.header-title-calendar-page {
    margin-bottom: 20px;
    text-align: center;
    font-size: 2.2em;
    width: 100%; /* Set to 100% to prevent exceeding parent */
    color: #121212;
    font-weight: bold;
}

/* Content Area */
.content-calendar-page {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 1200px; /* Increased max-width for more spacious layout */
    padding: 20px;
    box-sizing: border-box; /* Include padding in width calculation */
}

/* Event Form */
.event-form-calendar-page {
    padding: 20px;
    background-color: #ffffff;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1); /* Consistent shadow */
    width: 100%; /* Ensure it does not exceed parent width */
    box-sizing: border-box; /* Include padding in width calculation */
}

.toggle-form-button-calendar-page-container {
    text-align: center;
}

.toggle-form-button-calendar-page {
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: #fdfffc;
    box-shadow: rgb(0 0 0 / 10%) 0 0 8px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    transition: all 0.5s ease;
}

.toggle-form-button-calendar-page:hover {
    letter-spacing: 4px;
    background-color: rgb(24, 191, 220);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(24, 191, 220) 0px 7px 29px 0px;
}

.toggle-form-button-calendar-page:active {
    letter-spacing: 3px;
    background-color: hsl(24, 191, 220);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(24, 191, 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

/* Form Container */
.form-container-calendar-page {
    margin-top: 10px;
}

.section-title-calendar-page {
    font-size: 1em; /* Increased font size */
    color: #333;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
}

.input-field-calendar-page {
    width: calc(100% - 20px); /* This should be fine if the container has padding */
    padding: 14px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1.1em; /* Slightly larger font size */
}

/* Improved Add Event Form */
.input-field-calendar-page:focus {
    border-color: #7161ef;
    outline: none;
    box-shadow: 0px 0px 5px rgba(113, 97, 239, 0.5);
}

.submit-button-calendar-page-container {
    text-align: center;
    margin-top: 30px;
}

.submit-button-calendar-page {
    background-color: #3b82f6;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 200px;
    height: 45px;
    transition: 0.3s;
}

.submit-button-calendar-page:hover {
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
}

/* Event Lists */
.event-lists-calendar-page {
    width: 100%;
}

/* Event List */
.event-list-calendar-page {
    margin-bottom: 40px;
    padding: 20px;
    margin-top: 40px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}

/* Event Item Card */
.event-item-calendar-page {
    margin: 10px 0;
    padding: 40px;
    background: linear-gradient(135deg, #ffffff, #f5f5f5);
    border-radius: 15px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s, background 0.3s;
}

/* Hover Effects */
.event-item-calendar-page:hover {
    transform: translateY(-5px); /* Slight lift effect */
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.3); /* Enhanced shadow */
    background: linear-gradient(135deg, #ffffff, #e0e0e0); /* Subtle background change */
}

/* Event Title */
.event-title-calendar-page {
    font-weight: bold;
    color: #333;
    font-size: 1.3em; /* Slightly larger font size */
}

/* Event Date */
.event-date-calendar-page {
    color: #666;
    font-size: 1.1em; /* Slightly larger font size */
}

/* Buttons Inline in Event Item */
.button-container-calendar-page {
    display: flex;
    gap: 10px;
}

.delete-button-calendar-page,
.edit-button-calendar-page {
    border: none;
    padding: 12px 25px; /* Consistent padding */
    border-radius: 30px; /* Rounded buttons */
    cursor: pointer;
    font-size: 1.1em; /* Consistent font size */
    transition: background-color 0.3s, transform 0.2s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* Delete Button */
.delete-button-calendar-page {
    background-color: #ff4d4d;
    color: #ffffff;
}

.delete-button-calendar-page:hover {
    background-color: #ff2d2d;
    transform: scale(1.05);
}

/* Edit Button */
.edit-button-calendar-page {
    background-color: #4d79ff;
    color: #ffffff;
}

.edit-button-calendar-page:hover {
    background-color: #2d6ff7;
    transform: scale(1.05);
}

.react-calendar__tile--has-events {
    background-color: #d0e7ff !important;
    border-radius: 15px;
}

/* Media Queries for Mobile Optimization */
@media (max-width: 600px) {
    .header-title-calendar-page {
        font-size: 1.8em;
    }

    .toggle-form-button-calendar-page,
    .submit-button-calendar-page {
        padding: 12px 25px;
        font-size: 1.1em;
    }

    .input-field-calendar-page {
        width: calc(100% - 20px); /* This should be fine */
    }

    .event-item-calendar-page {
        flex-direction: column;
        gap: 5px;
    }

    .delete-button-calendar-page,
    .edit-button-calendar-page {
        padding: 10px 20px;
        font-size: 1em;
    }
}

@media (max-width: 768px) {
    .content-calendar-page {
        gap: 20px;
    }

    .calendar-container-calendar-page,
    .event-form-calendar-page {
        padding: 15px;
    }
}

/* Button for adding events */
.btn-add-event {
    background-color: transparent; /* Green background */
    color: #74c69d; /* White text */
    border: none; /* Remove borders */
    text-align: center; /* Center-aligned text */
    text-decoration: none; /* Remove underline */
    display: inline-flex; /* Align items in a row */
    align-items: center; /* Center the icon and text vertically */
    border-radius: 5px; /* Rounded corners */
    font-size: 1.1em; /* Slightly larger font size */
    padding: 10px 15px; /* Padding around the button */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow */
    transition: background-color 0.2s, transform 0.2s; /* Smooth transition for background color and scaling */
}

.btn-add-event:hover {
    background-color: #74c69d; /* Change background on hover */
    color: #ffffff; /* Change text color on hover */
    transform: scale(1.05); 
}
