/* General Styles */
.calendar-page {
    padding: 10px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-title-calendar-page {
    margin-bottom: 20px;
    text-align: center;
    font-size: 2em;
    width: 90%;
    color: #121212;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

.content-calendar-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 1000px;
    padding: 20px;
}

/* Calendar Container */
.calendar-container-calendar-page {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Event Form */
.event-form-calendar-page {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Toggle Button */
.toggle-form-button-calendar-page {
    background-color: #7161ef;
    color: #ffffff;
    border: none;
    padding: 12px 25px;
    border-radius: 25px;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
    font-size: 1.1em;
    transition: background-color 0.3s, transform 0.2s;
}

.toggle-form-button-calendar-page:hover {
    background-color: #a38dff;
    transform: scale(1.05);
}

/* Form Container */
.form-container-calendar-page {
    margin-top: 10px;
}

.section-title-calendar-page {
    font-size: 1.3em;
    color: #333;
    margin-bottom: 15px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

.input-field-calendar-page {
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1em;
}

/* Improved Add Event Form */
.input-field-calendar-page:focus {
    border-color: #7161ef;
    outline: none;
    box-shadow: 0px 0px 5px rgba(113, 97, 239, 0.5);
}

.submit-button-calendar-page {
    background-color: #7161ef;
    color: #ffffff;
    border: none;
    padding: 12px 25px;
    border-radius: 25px;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
    font-size: 1.1em;
    transition: background-color 0.3s, transform 0.2s;
}

.submit-button-calendar-page:hover {
    background-color: #a38dff;
    transform: scale(1.05);
}

/* Event Lists */
.event-lists-calendar-page {
    width: 100%;
}

/* Event List */
.event-list-calendar-page {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Event Item */
.event-item-calendar-page {
    margin: 10px 0;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: box-shadow 0.3s, transform 0.3s;
}

.event-item-calendar-page:hover {
    transform: scale(1.02);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.event-title-calendar-page {
    font-weight: bold;
    color: #333;
    font-size: 1.1em;
}

.event-date-calendar-page {
    color: #666;
}

/* Buttons Inline in Event Item */
.button-container-calendar-page {
    display: flex;
    gap: 10px;
}

.delete-button-calendar-page,
.edit-button-calendar-page {
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.2s;
    display: inline-block;
}

.delete-button-calendar-page {
    background-color: #ff4d4d;
    color: #ffffff;
}

.delete-button-calendar-page:hover {
    background-color: #ff2d2d;
    transform: scale(1.05);
}

.edit-button-calendar-page {
    background-color: #4d79ff;
    color: #ffffff;
}

.edit-button-calendar-page:hover {
    background-color: #2d6ff7;
    transform: scale(1.05);
}

.react-calendar__tile--has-events {
    background-color: #d0e7ff !important;
    border-radius: 15px;
}

/* Media Queries for Mobile Optimization */
@media (max-width: 600px) {
    .header-title-calendar-page {
        font-size: 1.8em;
    }

    .toggle-form-button-calendar-page,
    .submit-button-calendar-page {
        padding: 10px 20px;
        font-size: 1em;
    }

    .input-field-calendar-page {
        width: calc(100% - 20px);
    }

    .event-item-calendar-page {
        flex-direction: column;
        gap: 5px;
    }

    .delete-button-calendar-page,
    .edit-button-calendar-page {
        padding: 8px 15px;
        font-size: 0.9em;
    }
}

@media (max-width: 768px) {
    .content-calendar-page {
        gap: 20px;
    }

    .calendar-container-calendar-page,
    .event-form-calendar-page {
        padding: 15px;
    }
}