.profile-avatar-container__change__avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-avatar__change__avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .avatar-preview-controls__change__avatar {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .avatar-preview-controls__change__avatar button {
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .error__change__avatar {
    color: red;
  }
  