.social-media-container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.header-social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.app--social-media {
  font-size: 20px;
  font-weight: bold;
}

.profile-avatar-social-media {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.tabs-social-media {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.tab-button-social-media {
  flex: 1;
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  background: none;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

.tab-button-social-media.active {
  border-bottom: 2px solid #007bff;
}
